main{
    .background{
        height: 720px;
        padding-top: 200px;
        padding-left: 110px;
        .position{
            font-style: normal;
            width: 100%;
            max-width: 596px;
            h1{
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 24px;
            }
            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 40px;
            }
            a{
                display: block;
                padding: 12px 40px;
                background-color:#087CE6;
                width: 132px;
                height: 48px;
                border-radius: 100px;
            }
        }
    }
}