@import "basic/mixins";
@import "basic/fonts";
@import "basic/interface";
@import "basic/normalize";
@import "components/header";
@import "components/main";
@import "components/footer";

*{
    font-family: Futura PT;
    color: #FFFFFF;
}
header{
background-color: aqua;
}

