@font-face {
  font-family: Futura PT;
  src: url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: Futura PT;
  src: url("../assets/fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: Futura PT;
  src: url("../assets/fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}