*{
    font-family: Futura PT;
}
.container {
    margin: 0 40px;
}
body {
    position: relative;
    min-height: 100%;
    overflow: hidden auto;

    &.is-mobile-overflow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }

    $gridColor: #acacac;
    $gridCutterWidth: percentage(28 / (1440 - 220));
    $gridColumnWidth: percentage(76 / (1440 - 220));

    &.is-grid::after {
        content: '';
        position: fixed;
        z-index: 1000;
        top: 0;
        left: percentage(110 / 1440);
        right: percentage(110 / 1440);
        height: 100%;
        opacity: 0.1;
        background: repeating-linear-gradient(90deg, $gridColor 0, $gridColor $gridColumnWidth, transparent $gridColumnWidth, transparent $gridColumnWidth + $gridCutterWidth);
        pointer-events: none;
    }
}